# Lambda

In [3]:
def func(n):
    return lambda a : a*n

quad = func(4)
print(quad(11))

44

In [4]:
def func(n):
    return lambda a: a*n
print(func(10)(5))

50

In [8]:
x = lambda a : a * 10
x(2)

20

Lambda is a function that takes in argument and returns the expression like any other function

# Map

In [9]:
l = [1,2,3,4,5,6]
list(map(lambda x : x*2, l))

[2, 4, 6, 8, 10, 12]

In [13]:
def fun(a):
    return a*a

list(map(fun,l))

[1, 4, 9, 16, 25, 36]

In [1]:
list1 = [1,2,3]
list2 = [4,5,6]
list(map(lambda x,y : x+y, list1, list2))

[5, 7, 9]

# Filter

In [3]:
def even(n):
    if n%2 == 0:
        return n

list1 = [1,2,3]
list(filter(even,list1))

[2]

In [4]:
lis = [1,2,3,4,5,6,7,8,9]
list(filter(lambda x : x%2 == 0, lis))

[2, 4, 6, 8]

In [6]:
def even(n):
    if n%2 == 0:
        return n
    else:
        return False
    
list1 = [1,2,3,4]
list(filter(even,list1))

[2, 4]

Filter allows values into list that evaluates to true

# Filter

In [8]:
from functools import reduce

def sums(a,b):
    return a+b

lis = [1,2,3,4,5]
reduce(sums,lis)

15

In [9]:
reduce(lambda a,b : a+b , lis)

15

In [11]:
sum(lis)

15

# Zip

In [12]:
fname = ['rahul','jacob','thanuja', 'jhony']
lname = ['deo', 'paul', 'sekar', 'davidson']
list(zip(fname,lname))

[('rahul', 'deo'),
 ('jacob', 'paul'),
 ('thanuja', 'sekar'),
 ('jhony', 'davidson')]